@media screen and (max-height:900px) {
	.coach__heading {
		font-size: 46px;
		line-height: 30px;
	}
	.main__photo-img {
		max-width: 350px;
	}
	.main__info {
		padding-top: 150px;
	}
}
@media screen and (max-width:992px) {
	
}
@media screen and (max-width:768px) {
	
}
@media screen and (max-width:576px) {
	
}
@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 768px) {
	
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 576px) {
	
}
@media screen and (max-width: 400px) {
	
}
