@media screen and (max-width:1200px) {
	.main__info {
		padding-top: 150px;
	}
	.coach {
		margin-top: 35px;
	}
	.coach__heading, .coach__name {
		font-size: 46px;
		margin: 0 20px 20px;
	}
}
@media screen and (max-width:1000px) {
	.navi__link+.navi__link {
		margin-left: 15px;
	}
	.logo__img {
		max-width: 240px;
	}
	.coach__heading, .coach__name {
		font-size: 35px;
	}
	.programm__heading {
		font-size: 30px;
	}
	.programm__name {
		font-size: 30px;
	}
	.main__photo-img {
		max-width: 350px;
	}
	.about__content {
		flex-wrap: wrap;
	}
	.contacts__messenger-heading, .contacts__find-heading {
		font-size: 20px;
	}
	
}
@media screen and (max-width:900px) {
	.navi{
		display: none;
		position: absolute;
    	top: 100px;
    	width: 100%;
		left: 0;
    	right: 0;
		padding: 0 15px;
		z-index: 2;
	}

	.navi__list{
		display: flex;
    	align-items: center;
    	justify-content: space-between;
    	flex-direction: column;
		border-radius: 15px;
		background: rgba(21, 113, 196, 0.7)
	}
	.navi__link{
		margin: 15px 0;
	}
	.navi__link+.navi__link {
		margin-left: 0;
	}
	.navi__link-item{
		color: #fff;
	}
	.navi__link-item:hover{
		border-bottom: 1px solid #fff;
	}
	.navi__btn{
		display: flex;
	}
	.main__photo-img {
		max-width: 300px;
		margin: 10px;
	}
	.coach__programm {
		padding: 5px 15px;
		margin-bottom: 30px;
	}
	.coach__heading, .coach__name {
		font-size: 24px;
	}
	.programm__heading {
		font-size: 24px;
	}
	.programm__name {
		font-size: 22px;
	}
	.about__heading, .coaching__heading, .clients__heading, .start__heading, .testimonials__heading, .contacts__heading {
		font-size: 36px;
		padding: 20px 0;
	}
	.main__btn, .coaching__btn, .start__price-btn, .footer__btn {
		font-size: 14px;
	}
	.btn {
		padding: 5px 20px;
	}
	.clients__block {
		width: 80%;
	}
	.clients__block-inner{
		flex-direction: column;
	}
	.block_top::after,.block_top::before,.block_bottom::before,.block_bottom::after{
		display: none;
	}
	.contacts__block-find{
		margin-top: 15px;
	}
	.footer__inner{
		display: flex;
    	align-items: center;
    	flex-direction: column;
    	justify-content: space-around;
	}

	.footer__inner-heading, .timer{
		padding-bottom: 15px;
	}
}
@media screen and (max-width:700px) {
	.logo__img {
		max-width: 200px;
	}
	.main__photo-img {
		max-width: 250px;
	}
	.coach__heading, .coach__name {
		font-size: 20px;
		margin: 0 15px 15px;
	}
	.coaching__info-block {
		width: 80%;
	}
	.programm__heading, .programm__name {
		font-size: 20px;
	}
	.start__heading-title, .start__next {
		font-size: 22px;
		padding: 5px 10px;
	}
	.start__info {
		width: 80%;
	}
	.footer__inner {
		flex-direction: column;
	}
	.timer {
		width: 100%;
		padding: 10px;
	}
	
}
@media screen and (max-width: 600px) {
	.programm__heading {
		letter-spacing: 2px;
	}
	.about__photo {
		max-width: 500px;
	}
	.start__inner {
		padding-bottom: 15px;
	}
}

@media screen and (max-width: 500px) {
	.main__info {
		padding-top: 150px;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: space-between;
	}
	.about__photo {
		max-width: 400px;
	}
	.clients__heading-secondary {
		width: 80%;
		padding: 20px;
	}
	.testimonials__slider {
		width: 90%;
	}
}

@media screen and (max-width: 400px) {
	.about__photo {
		max-width: 350px;
	}
	.main__btn, .coaching__btn, .start__price-btn, .footer__btn {
		width: 80%;
	}
	.find__info {
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
	}
	.find__info-item {
		margin: 10px;
	}
	.start__heading-title{
		font-size: 20px;
	}
	.start__info-heading {
		font-size: 18px;
		text-align: center;
	}
	.start__info-main {
		text-align: center;
	}
	.start__info-price {
		text-align: center;
	}
}

@media screen and (max-width: 576px) {
	
}
@media screen and (max-width: 400px) {
	
}
