/* General styles start */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* General styles end */

/* Header styles start */

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.logo__img{
    max-height: 80px;
}

/* Style the navbar */
#navbar {
    background: rgba(0, 0, 0, .75) !important;
    overflow: hidden;
    z-index: 999;
  }

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .main {
    padding-top: 60px;
  }

  /* Header styles end */

/* Main section start */
.main{
    padding: 100px 0;
    background-image: url(../img/bg_02.jpg);
}

.main__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}

.coach{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.coach__heading{
    font-size: 56px;
    text-align: center;
    margin: 0 40px;
    line-height: 75px;
}

.coach__heading span{
    font-size: 156px;
}

.coach__name{
    font-size: 56px;
}

.coach__programm{
    background-color: #1571c4;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
}

.programm__name{
    font-size: 34px;
}

.main__photo-img{
    max-width: 600px;
}

.main__btn, .coaching__btn{
    background: #ffcd00;
    border-radius: 2px;
    /* display: block; */
    cursor: pointer;
    font-size: 17px;
    color: #121212;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 50%);
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    width: 33%;
    margin: 10px auto;
    text-align: center;
}

.btn__consultation{
    line-height: 50px;
}

/* Main section end */

/* About section start */

.about{
    padding-bottom: 50px;
}

.about__heading, .coaching__heading, .clients__heading, .start__heading, .testimonials__heading, .contacts__heading{
    font-size: 56px;
    text-align: center;
    margin: 0 40px;
    line-height: 75px;
    padding: 100px 0;
}

.about__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.about__img, .about__info{
    margin: 0 15px;
}

.about__photo{
    max-width: 600px;
}

.about__certificates{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.certificate__img{
    width: 70%;
}

/* About section end */

/* Coaching section start */

.coaching{
    background-image: url(../img/bg_02.jpg);
    padding-bottom: 50px;
}

.coaching__info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.coaching__info-block{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 5px solid #0067a8;
    padding: 25px;
    width: 40%;
    margin: 30px 10px;
}

.coaching__info-heading{
    text-align: center;
    border-bottom: 2px solid black;
}

.list__info{
    position: relative;
    padding-left: 15px;
}

.list__info::before{
    content: "";
    position: absolute;
    background: #0067a8;
    height: 10px;
    width: 10px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);  
}

/* Coaching section end */

/* Clients section start */

.clients{
    margin-bottom: 50px;
}

.clients__heading-secondary{
    background-color: #1571c4;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    width: 40%;
    margin: 0 auto 50px;
}

.clients__inner{
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 850px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients__block{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 5px solid #0067a8;
    width: 40%;
    margin: 30px 10px;
}

.clients__block-heading{
    text-align: center;
}

.clients__block-list{
    padding: 25px;
}



.block_middle {
    text-align: center;
}

.block_top, .block_bottom{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.block_top{
    top: 0;
}

.block_top::before{
    content: "";
    position: absolute;
    background: url(../img/arrow_green_2.png);
    height: 100px;
    width: 100px;
    right: -100px;
    bottom: -25px;
    transform: rotate(-150deg);
}

.block_top::after{
    content: "";
    position: absolute;
    background: url(../img/arrow_green_2.png);
    height: 100px;
    width: 100px;
    left: -100px;
    bottom: -25px;
    transform: scale(1, -1) rotate(30deg);
}

.block_bottom{
    bottom: 0;
}

.clients__btn{
    background: #ffcd00;
    border-radius: 2px;
    cursor: pointer;
    font-size: 17px;
    color: #121212;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 50%);
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

/* Clients section end */

/* Start section start */

.start{
    background: url(../img/start-bg.jpeg) center no-repeat;
    background-size: 100%;
    padding-bottom: 50px;
}

.start__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.start__heading p{
    display: block;
    font-size: 30px;
    background-color: #1571c4;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    line-height: 50px;
    margin-top: 50px;
}

.start__info{
    display: flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border: 5px solid #0067a8;
    padding: 10px;
    margin: 30px 10px;
}

.start__info-heading{
    font-size: 24px;
}

.start__info-main{
    line-height: 30px;
    margin: 10px 0;
}

.start__info-price{
    font-size: 24px;
    color: #ffcd00;
}

.start__next{
    display: block;
    font-size: 30px;
    background-color: #1571c4;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
}

.start__price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.start__price-full{
    background: #ffcd00;
    border-radius: 2px;
    cursor: pointer;
    font-size: 17px;
    color: #121212;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 50%);
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 15px;
    margin: 20px;
}

.start__price-cut{
    background: #ffcd00;
    border-radius: 2px;
    cursor: pointer;
    font-size: 17px;
    color: #121212;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 50%);
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 15px;
    margin: 20px;
}

/* Start section end */

.contacts{
    color: #fff;
    background-color: #333;
}
  